[tool.poetry]
name = "sechat"
version = "1.0.1"
description = "A BETTER Stack Exchange chat library."
authors = ["Ginger"]

[tool.poetry.dependencies]
python = ">=3.8.0,<4.0.0"
requests = "^2.27.1"
bs4 = "^0.0.1"
websocket-client = "^1.3.2"

[tool.poetry.dev-dependencies]
Sphinx = "^5.0.2"
sphinx-rtd-theme = "^1.0.0"
build = "^0.8.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
